<link rel="stylesheet" href="/css/bookingnew.css">
<h1 style="background-color: aliceblue; color:aqua ;">hello</h1>
<img src="https://www.denofgeek.com/wp-content/uploads/2019/12/power-rangers-beast-morphers-season-2-scaled.jpg?fit=2560%2C1440" alt="asdasdasd">