<link rel="stylesheet" href="/css/home.css">
<div id="landingproduct">
    <div>
        <h1>Lets celebrate together</h1>
    </div>
</div>
<div id="gallery1">
    <div id="container">
        <div id="left">
            <img src="https://banner.caratlane.com/live-images/81edd6a742c24067bf33550acbe1c9bf.jpg" alt="">
        </div>
        <div id="right">
            <img src="https://banner.caratlane.com/live-images/cd7ca9a04c59405087a1a8e2ceaeadf9.jpg" alt="">
            <img src="https://banner.caratlane.com/live-images/05d32bcbe23f4a05bc021a080df5fa85.jpg" alt="">
        </div>
    </div>
</div>
<div id="categories">
    <div id="container2">
        <div>
            <div>
                <img src="https://banner.caratlane.com/live-images/8a500c0892fc4417a1e664240c046ea2.jpg" alt="">
            </div>
            <div>
                <img src="https://banner.caratlane.com/live-images/8f64e125d014448b9edaefa581a445a5.jpg" alt="">
            </div>
            <div>
                <img src="https://banner.caratlane.com/live-images/89e0c21df38e40a4bce28256e00adea1.jpg" alt="">
            </div>
        </div>
        <div>
            <div>
                <img src="https://banner.caratlane.com/live-images/9d2b65eb4bd241d9b7b7c0a7e2801b16.jpg" alt="">
            </div>
            <div>
                <img src="https://banner.caratlane.com/live-images/a8fc86e24cd14a3aa5852297fc666a14.jpg" alt="">
            </div>
            <div>
                <img src="https://banner.caratlane.com/live-images/fc2dd6b99f424416b7006dc50d03d7f7.jpg" alt="">
            </div>
        </div>
    </div>
</div>
<div id="gallery2">
    <div id="container3">
        <div>
            <img src="https://banner.caratlane.com/live-images/3895ea9da995405499a5b2b7f37700f1.jpg" alt="">
        </div>
        <div id="center">
            <div>
                <img src="https://banner.caratlane.com/live-images/f151d33f02f3439681fd6b0d3d42b094.jpg" alt="">
            </div>
            <button>View All Collections</button>
        </div>
        <div>
            <img src="https://banner.caratlane.com/live-images/7026aa0212db4cea8d43eed149592325.jpg" alt="">
        </div>
    </div>
</div>
<div id="moto">
    <div id="container4">
       <h1>faunt your style with Rivans</h1>
    </div>
</div>